<header>
  <section class="container">
    <nav class="nav">
      <a href="index.html" class="nav__logo"> </a>
      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="#" class="nav__list-link">Falcon 9</a>
        </li>
        <li class="nav__list-item">
          <a href="#" class="nav__list-link">Falcon Heavy</a>
        </li>
        <li class="nav__list-item">
          <a href="#" class="nav__list-link">Dragon</a>
        </li>
        <li class="nav__list-item">
          <a href="#" class="nav__list-link">Updates</a>
        </li>
      </ul>
      <ul class="gallery__list">
        <li class="gallery__list-item">
          <a href="#" class="gallery__list-link">About</a>
        </li>
        <li class="gallery__list-item">
          <a href="#" class="gallery__list-link">Gallery</a>
        </li>
        <li class="gallery__list-item">
          <a href="#" class="gallery__list-link">Shop</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
